*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    width: 500px;
    height: 500px;
    /* 将其划分为3行三列的栅栏式布局 */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* 间距的长度 */
    grid-gap: 1px;
}
样式为item1所占的区域大小
.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}